/logs
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/assets/images/post_images
public/assets/images/post_small_images
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
